<footer class="footer-ecodigital ">
  <div class="footer-container ">
    <div class="footer-section">
      <h3>About Us</h3>
      <p>Eco Digital is a platform where ideas resonate. Join us to explore innovative and thoughtful content about technology and sustainability.</p>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: g.gutierrez@lainter.edu.mx</p>
      <p>Phone: +52 241 140 0184</p>
    </div>

    <div class="footer-section">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a href="https://web.facebook.com/profile.php?id=100005488243206" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/Jerry180700" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/jerry_gv18/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/gerardo-gutierrez-velasco/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Eco Digital. All rights reserved.</p>
  </div>
</footer>
