.navbar-ecodigital {
  justify-content: space-between;
  background: #A8D5BA;
}

.navbar-ecodigital .navbar-collapse {
  flex-grow: 0;
}

.navbar-ecodigital .navbar-brand img {
  width: 40px;
}
.title {
  font-family: 'Poppins';
}
